main {
  min-height: 80vh;
}

.adoptable-pet-div {
  p {
    font-size: 1rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  max-width: fit-content;

  label {
    font-weight: bold;
  }

//   textarea {
//     field-sizing: content;
//       min-height: 2rem;
//   }
}

footer {
  text-transform: lowercase;
  letter-spacing: -1px;
  text-decoration: underline overline;
  margin-top: 1rem;
  text-align: center;
}

